@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  
  --animate-float: float 6s ease-in-out infinite;
  --animate-fade-in-up: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-bounce-slow: bounceSlow 3s infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes bounceSlow {
    0%, 100% { transform: translateY(-5%); animation-timing-function: cubic-bezier(0.8, 0, 1, 1); }
    50% { transform: translateY(0); animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }
  }
}